body {
    margin: 0px;
    background: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgb(116, 18, 18), rgb(0, 0, 0));
}

.dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:rgb(66, 0, 0);
}

.buttons {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(160, 116, 35, 0.7);
    font-size: 20px;
    font-weight: 400;
}

.rotation {
    animation: Rotation 2s;
}

@keyframes Rotation{
    0% {transform: rotate(0deg) ;}
    100% {transform: rotate(360deg);}
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-height: 1rem;
    line-height: 24px;
}

.closed-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 24px 0px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 3rem;
    background-color: rgb(160, 116, 35, 0.7);
    overflow: hidden;
}

.open-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 24px 0px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 3rem;
    overflow: visible;
    background-color: rgb(160, 116, 35, 0.7);
    cursor: pointer;
}

.languageSelection {
    display: flex;
    box-sizing: border-box;
    border-radius: inherit;
    padding: 0px 10px;
    width: inherit;
}

.units-c {
    padding: 0 10px 0 10px;
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: rgb(160, 116, 35, 0.7);
    cursor: pointer;
}

.units-f {
    padding: 0 10px 0 10px;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    background-color: rgb(160, 116, 35, 0.7);
    cursor: pointer;
}

.button:hover, .closed-list:hover, .searchButton:hover, .languageSelection:hover, .voiceButton:hover, .units-c:hover, .units-f:hover {
    cursor:pointer;
    background: linear-gradient(135deg, white, rgb(160, 116, 35, 0.7),rgb(236, 184, 13));
    animation: animation 0.3s;
    animation-fill-mode: forwards;
    background-size: 200% 200%;
}

@-webkit-keyframes animation {
    0%{background-position:10% 10%}
    100%{background-position:100% 100%}
}

.open-list:hover {
    background-color: rgb(160, 116, 35, 0.7);
}

.searchArea {
    display: flex;
    width: 300px;
}

.voiceButton {
    display: flex;
    background-color: rgb(160, 116, 35, 0.7);
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    border-right: none;
    cursor: pointer;
}

.active-button {
    background-color: rgb(236, 184, 13);
}

.searchBar {
    font-size: 16px;
    background-color: rgb(160, 116, 35, 1);
    border: 1px solid black;
    outline: none;
}

::placeholder {
    color:rgb(15, 11, 11);
}

.searchButton {
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    background-color: rgb(160, 116, 35, 0.7);
    border: 1px solid black;
    border-left: none;
}

.main {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    justify-content: space-between;
    margin-right: 30px;
}

.weather {
    display: flex;
    margin: 20px;
}

.condition {
    display: flex;
}

.location {
    font-size: 30px;
    margin: 0px;
}

.time {
    font-size: 18px;
    margin: 0px;
    margin-top: 5px;
}

.temperature-today {
    display: flex;
    font-weight: bold;
    font-size: 150px;
    margin: 50px 40px 0 0;    
}

.today {
    display: flex;
}

.icon {
    display: flex;
    position: relative;
    left: -40px;
    top: -20px;
    max-width: 170px;
    max-height: 170px;
}

.overview {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    font-size: 18px;
}

.text {
    margin: 0;
    margin-bottom: 12px;
}


.forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 20px 0 60px;
}

.forecast-day {
    font-size: 20px;
    padding: 0;
}

.forecast-condition {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.forecast-weekday {
    margin: 0;
    text-align: center;
}

.forecast-temperature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    font-size: 30px;
    text-align: end;
    margin-bottom: 25px;
}

.map {
    border-radius: 10px;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

@media screen and (max-width: 1200px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .overview {
        box-sizing: border-box;
        min-width: fit-content;
        min-height: fit-content;
    }
}

@media screen and (max-width: 750px) {
    .weather {
        flex-direction: column;
    }

    .forecast {
        flex-direction: row;
        margin: 50px 15px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .dashboard {
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        padding: 10px;
    }
}
